@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
span,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-text-size-adjust: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
html,body {
	font-size: 14px;
	width:100%;
	height:100%;
	overflow: auto;
}
body {	
	font-family: "微软雅黑", "宋体";
	letter-spacing: 0;
}
input[type=button],
input[type=text],
input[type=password],
[type=tel],
[type=number],
[type=url],
[type=email],
button,
textarea {
  -webkit-appearance: none;
  outline: none;
}
a,
a:hover {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.flex-container {
  /* 2009 spec */
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  /* 混合 */
  display: -ms-flexbox;
  /* 新版语法*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /*垂直居中*/
  /*老版本语法*/
  -webkit-box-align: center;
  -moz-box-align: center;
  /*混合版本语法*/
  -ms-flex-align: center;
  /*新版本语法*/
  -webkit-align-items: center;
  align-items: center;
  /*水平居中*/
  /*老版本语法*/
  -webkit-box-pack: center;
  -moz-box-pack: center;
  /*混合版本语法*/
  -ms-flex-pack: center;
  /*新版本语法*/
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
